accelerate
baidusearch
codetiming
datasets
dill
duckduckgo-search
flash-attn
googlesearch-python
hydra-core
numpy
pandas
pybind11
ray
tenacity<8.0.0
tensordict<0.6
transformers<4.48
vllm<=0.6.3
wandb
IPython
matplotlib
omegaconf